div {
	/*gives us our background image*/
	background: url('flowers.jpg') center;
	/*makes the image the size of the container*/
	background-size: contain;
	/*centers the image*/
	margin: auto;
	width: 400px;
}

/*mix-blend-mode: lighten ~ black text and light 
background color*/
/*mix-blend-mode: multiple ~ white text and dark
background color*/

p {
	/*text MUST be white*/
	color: black;
	background-color: rgba(244, 220, 211, 1);
	/*MAGIC LINE!*/
	mix-blend-mode: lighten;
	font-size: 148px;
	text-align: center;
}